<div class="search-user-container mt-2" id = "user" style="display: none;">
    <div class="row justify-content-center text-center">
        <div class="col-lg- col-md-6 col-sm-12">
            <div class="card text-dark bg-info mb-3">
                <div class="card-header" >
                    <h2 id="name"></h2>
                </div>
                <div class="card-body">
                    <h5 #username class="card-title" id="username"></h5>
                    <p class="card-text m-1" id="mobileNumber"></p>
                    <p class="card-text m-1" id="emailId"></p>
                </div>
                <div class="card-footer text-center">
                    <input type="text" id="userId" name="userId" class="form-control " placeholder="Add the Tweet Tag" readonly hidden>
                    <button class="btn btn-dark btn-bg" (click)="viewTweet()">View Tweets</button>
                </div>
            </div>
        </div>
    </div>
</div>