<div class="container" style="padding: 3%;">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-12" style="margin: 0;">
            <div class="card-header bg-info text-light" style="width: 30rem; border: 0.2rem; border-color: black; border-style: solid;">
                <h3 class="text-center">Change Password</h3>
            </div>
            <div class="card-body bg-light text-dark" style="font-weight: 700; width: 30rem; border: 0.2rem; border-color: black; border-style: solid;" >
                <div class="row">
                    <form #forgotPasswordModel="ngForm" (ngSubmit)="forgotPassword(forgotPasswordModel.value)" ngNativeValidate>
                        <div class="form-group">
                            <label class="form-label" for="loginId">Username</label>
                            <input type="text" id="loginId" name="loginId" class="form-control" placeholder="Username" required [(ngModel)]="username">
                        </div><br>
                        <div class="form-group">
                            <label class="form-label" for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required ngModel>
                        </div><br>
                        <div class="form-group">
                            <label class="form-label" for="confirmPassword">Confirm Password</label>
                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" required [(ngModel)]="confirmPasssword">
                        </div><br>

                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-dark btn-bg m-2" value="Change Password">
                            <a href="/login" class="btn btn-dark btn-bg">Login Here</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>